<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>first verification</title>
  </head>
  <body>
    <div>congratulation</div>
    <br />
    <div>your secret key is: <%- code %></div>
    <br />
    <br />
    <a href="<%= url %>" style="text-decoration: none">continue here</a>
  </body>
</html>
