<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>verify account</title>
  </head>
  <body>
    <div>it is great to have you here</div>
    <br />
    <div>verify your account</div>
    <br />
    <br />
    <a href="<%= url %>" style="text-decoration: none"> verify account</a>
  </body>
</html>
